*{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  padding: 0;
  margin: 0;
}



ul{
  gap: 30px;
}
.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex {
  display: flex;
}

body {
  display: contents;
  background-color: #c6c6c6;
  margin: 0;
  line-height: inherit;
}



@media (min-width: 768px) {
  .md\:text-2xl {
    font-size: 26px;
    line-height: 30px;
  }
}

.hola {
  background-color: black;
  padding: 0 60px 0 60px;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  color: black;
}

img {
  width: 500px;
  height: 400px;
  border-radius: 50%;
}

.hola {
  display: flex;
  justify-content: space-between;
  font-size: 35px;
}

.hola ul {
  display: flex;
  font-size: 25px;
}

p {
  font-size: 30px;
  display: flex;
}

footer {
  background-color: white;
}

h3 {
  color: black;
}

footer img {
  display: flex;
  width: 50px;
  height: 50px;
}

footer .ubica {
  padding: 0 0px;
}

#ubicacion iframe {
  width: 100%;
  max-width: 600px;
  height: 400px;
  border: none;
}

footer p {
  color: white;
  font-style: italic;
  text-align: center;
  font-size: large;
}

.credit {
  background-color: black;
  text-align: center;
  padding: 0 400px;
}

.made {
  background-color: black;
  padding: 0 10x;
}

.iframe{
  display: flex;
  justify-content: space-between
  ;
}