*{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
  }

body main {
    color: black;
}

section {
    max-width: 200px;
    margin: 0%;
    padding: 40px 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    height: 50px;
    width: 50px;
}

img .link {
    width: 10px;
    height: 1px;
}