body {
    margin: 0;
    line-height: inherit;
}


*{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
  }

h1 {
    font-size: 50px;
    color: #696969;
}

  p {
    text-align: center;
    font-size: 30px;
}
